/*Start Main Roles*/

body{
	background-color: #f4f4f4;
	font-size: 16px
}

span.astrixs{
	font-size: 25px;
	position: absolute;
    top: 6px;
    right: 22px;
    color: #c30e0e;
}

.nice-message{
	background-color: #fff;
	margin: 10px 0;
	border-color: #fff;
	border-left: 5px solid #f00;
	
}

/*End Main Roles*/

/*Start Login*/

.login{
	width: 300px;
	margin: 100px auto
}

.login h3{
	color: #848181
}

.login .form-control{
	margin-bottom: 10px;
	background-color: #e2e2e2
}

.login button{
	background-color: #008dde;
	cursor: pointer;
}

/*End Login*/

/*Start Dashboard*/

.home-stats .stat{
	width: 275px;
	border: 1px solid #ccc;
	padding: 20px;
	font-size: 15px;
	color: #FFF;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.home-stats .stat .info{
	float: right;
	font-weight: bold;

}

.home-stats .stat .icon{
	position: absolute;
    font-size: 70px;
    top: 33px;
    left: 25px;
}

.home-stats .stat.st-member{
	background-color: #3498db
}

.home-stats .stat.st-pending{
	background-color: #c0392b
}

.home-stats .stat.st-item{
	background-color: #d35400
}

.home-stats .stat.st-comment{
	background-color: #8e44ad
}

.home-stats .stat span{
	display: block;
	font-size: 60px;

}

.home-stats .stat span a{
	color: #FFF;
	text-decoration: none;
}

.latest{
	margin-top: 40px
}

.latest .row{
	margin: 25px 0
}

.latest .card-header .toggle-info:hover{
	cursor: pointer;
	color: #666
}

.latest li:nth-child(odd){
	background-color: #eee
}

.latest li{
	padding: 8px 8px;
	overflow: hidden;
}

.latest .pull-right{
	float: right;
	padding: 5px 8px;
	display: inline-block;
	margin-left: 4px
}

.latest .comment-box{
	margin: 10px 0 5px
}

.latest .comment-box .member-n{
	float: left;
	width: 120px;
	margin-right: 15px;
	position: relative;
	top: 3px
}

.latest .comment-box .member-c{
	float: left;
	width: calc(100% - 135px);
    background: #efefef;
    padding: 5px 8px;
    margin: 5px 0;
    position: relative; 
}

.latest .comment-box .member-c:before{
	content: '';
	left: -30px;
	top: 3px;
	border-style: solid;
	border-width: 15PX;
	border-color: transparent #EFEFEF transparent transparent;
	display: block;
	position: absolute;
}

/*End Dashboard*/

/*Start Navbar*/

.navbar-dark .navbar-brand{
	font-size: 1em;
	color: rgba(255,255,255,.5);
	padding-right: .5rem;
    padding-left: .5rem;
    margin: 0;
}

/*.navbar-brand{
    padding-bottom: 0;
    padding-top: 0
}*/

.navbar{
	padding: 0;
}

.navbar-dark .navbar-brand:hover,
.navbar .navbar-nav .nav-item:hover,
.navbar .navbar-nav .nav-item.dropdown .dropdown-item:hover{
	background-color: #3498db;
	color: #fff;
}

.dropdown li a{
	color: #FFF
}

/*End Navbar*/

/*Start Member Edit Page*/

h1{
	margin-top: 15px
}

.form-control{
	position: relative;
}


.show-password{
	position: absolute;
	font-size: 26px;
	right: -35px;
    top: 12px;
    color: #808080;
}

.main-table{
	margin-top: 25px
}

.main-table tr td{
	background-color: #FFF;
}

.main-table tr:first-of-type td{
	background-color: #333;
	color: #fff
}

.main-table img{
	width: 45px;
	height: 45px
}

.main-table tr td .btn{
	padding: 5px 12px;
}

.main-table tr td .activate{
	margin-left: 4px
}

.member-pa .confirm{
	margin: 0px 0 20px;
}


/*End Member Edit Page*/


/*Start CAtegory*/

.category-pa .card{
	overflow: hidden;
}

.category-pa .svg-inline--fa{
	position: relative;
	top: 1px
}

.card-header{
	color: #959595;
	font-weight: bold;
}
.card .pull-right{
	float: right;
}

.card .option a{
	text-decoration: none;
	color: #959595
}

.card .option span{
	cursor: pointer;
}

.card .option .active{
	color: #f00
}

.category-pa .card .card-title{
	cursor: pointer;
}

.card-body.category{
	padding: 0
}

.category .cat{
	padding: 25px
}

.category .cat:hover{
	background-color: #ccc
}

.category .cat p{
	color: #707070
}

.category .cat ~ hr{
	margin: 0;
}

.category .cat:last-of-type ~ hr{
	display: none;
}

.category .btn-hidden{
	position: absolute;
	right: -160px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.category .cat:hover .btn-hidden{
	right: 10px;
}

.category .btn-hidden a{
	padding: 3px 10px;
}

.category .cat span.visible{
	background-color: #d35400;
	color: #fff;
	padding: 4px 7px;
	border-radius: 5px
}

.category .cat span.comment{
	background-color: #2c3e50;
	color: #fff;
	padding: 4px 7px;
	border-radius: 5px
}

.category .cat span.ads{
	background-color: #c0392b;
	color: #fff;
	padding: 4px 7px;
	border-radius: 5px
}

.category-pa .confirm{
	margin: 15px 0 20px;
}

.category .child-head{
	margin: 0px 0 10px 25px;
	font-weight: bold;
	color: #3a553a
}

.category .child-cat{
	margin: 0 0 10px 0px
}

.category .child-cat li{
	margin-left : 40px
}

.category .child-cat li:before{
	content: "- ";
}

.category .child-cat .show{
	color: #f00;
	display: none;
}

/*End Category*/

/*Start Item*/

.table td{
	max-width: 280px
}

.table .approve{
	margin-left: 4px
}

/*End Item*/






